.container-fluid.header {
    background-color: #000000;
    color: #FFFFFF;
    position: relative;  
}

.left-block-red {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: #CA0814;
    width: 17%;
    height: 100%;
    overflow: none;
}

.right-block-black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #000000;
    width: 83%;
    height: 100%;
    overflow: none;    
}

.nav-links .primary ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-links .primary ul li a {
    color: #FFFFFF;
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
}

.nav-links .primary ul li a:hover {
    color: #CA0814;
}

.primary > span {
    display: none;
}

.nav-links .primary {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navigation h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #000000;
}

.footer {
    position: relative;
    color: #FFFFFF;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.footer li {
    list-style: none;
}

.footer .fa {
    width: 20px;
}

.right {
    float: right;
    margin: 20px;
}

.content h1, .content h2, .content h3 {
    color: #CA0814;
}

.footer span {
    display: block;
}
.footer span:not(:first-child) {
    margin-left: 23px;
}

.footer a {
    color: #FFFFFF;
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
}

.footer a:hover {
    color: #CA0814;
}

.featured-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.nav-links li {
    font-size: 1.2em;
}

.logo img {
    width: 100%;
}

.promo-box {
    display: block;
    border-style: solid;
    border-color: #CA0814;
    padding: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: #CA0814;    
}

.promo-box h4 {
    color: #FFFFFF;
    font-size: 1.6em;    
}

@media screen and (max-width: 1200px) {
    .left-block-red {
        display: none;
    }

    .header h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .header ul {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .map {
        height: 240px;
    }
}
